.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(25%);
    backdrop-filter: contrast(55%);
    display: table;
    transition: opacity .8s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: top;
}
